<h1>Привет, <%= current_user ? current_user.email : 'Гость'  %>!</h1>

  <% if user_signed_in? %>
    <ul>
      <li><%= link_to 'Поиск билетов', search_path %></li>
      <li><%= link_to 'Мои билеты', tickets_path  %></li>
    </ul>
  <% end %>